[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
load-dotenv = "*"
python-dateutil = "*"
django-cors-headers = "*"
pymysql = "*"
pyjwt = "*"
passlib = "*"
pytest = "*"
pytest-django = "*"
cryptography = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
